<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">

        <header>
            <h1>BOOLFLIX</h1>
            <div class="search">
                <input v-model="userResearch"
                type="text"
                placeholder="Inserisci il nome del film o serie tv">
                <button @click="addNewResearch"
                value="clickme" 
                onClick="showFilmsSeries();">
                Cerca
                </button>
            </div>
        </header>

        <main>

            <!-- film -->
            <div v-for="film in films" class="film">
                <div class="infos">
                    <!-- <div class="copertina">
                        <img :src="film.poster_path" alt="poster">
                    </div> -->
                    <h5>Titolo:</h5> {{ film.title }}
                    <h5>Titolo originale:</h5>{{ film.original_title }}
                    <h5>Voto:</h5> {{ film.vote_average }}
                    <h5>Lingua:</h5> {{ film.original_language }} <!--  <img src="https://images.emojiterra.com/google/android-11/128px/1f1ec-1f1e7.png alt="bandiera"> -->
                    <!-- <h5>Overview:</h5> {{ film.overview }} -->
                </div>
            </div>
            <!-- fine film -->

            <!-- serie tv -->
            <div v-for="tvSerie in tvSeries" class="film">
                <div class="infos">
                    <h5>Titolo:</h5> {{ tvSerie.name }}
                    <h5>Titolo originale:</h5>{{ tvSerie.original_name }}
                    <h5>Voto:</h5> {{ tvSerie.vote_average }}
                    <h5>Lingua:</h5> {{ tvSerie.original_language }}
                </div>
            </div>
            <!-- fine serie tv -->

        </main>

    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>